<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Users Cirlce
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-searchbar placeholder="Enter Reffral Codes"></ion-searchbar>
    <ion-button class="primary">Male listing</ion-button> <ion-button  class="primary">Female listing</ion-button>
    <div>
        <ion-card>
            <div class="user-img-box">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRJt-FDG7pdCqtru8m8nmsgF9Z-F_LfP49cDFloa8FyTityAhNK" />
            </div>
            <div class="user-name">
                <ion-card-header>
                    <ion-card-title class="ion-text-center">Anshu Verma</ion-card-title>
                </ion-card-header>
                <ion-button expand="block" (click)="addcircle()">Add in Circle</ion-button>
                <ion-segment>
                    <ion-segment-button checked layout="icon-top">
                        <ion-icon name="call"></ion-icon>
                        <ion-label>20</ion-label>
                    </ion-segment-button>
                    <ion-segment-button layout="icon-top">
                        <ion-icon name="heart"></ion-icon>
                        <ion-label>30</ion-label>
                    </ion-segment-button>
                    <ion-segment-button layout="icon-top">
                        <ion-icon name="chatboxes"></ion-icon>
                        <ion-label>20</ion-label>
                    </ion-segment-button>
                </ion-segment>

            </div>
        </ion-card>

        <ion-card>
            <div class="user-img-box">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRJt-FDG7pdCqtru8m8nmsgF9Z-F_LfP49cDFloa8FyTityAhNK" />
            </div>
            <div class="user-name">
                <ion-card-header>
                    <ion-card-title class="ion-text-center">Anshu Verma</ion-card-title>
                </ion-card-header>
                <ion-button expand="block" (click)="addcircle()">Add in Circle</ion-button>
                <ion-segment>
                    <ion-segment-button checked layout="icon-top">
                        <ion-icon name="call"></ion-icon>
                        <ion-label>20</ion-label>
                    </ion-segment-button>
                    <ion-segment-button layout="icon-top">
                        <ion-icon name="heart"></ion-icon>
                        <ion-label>30</ion-label>
                    </ion-segment-button>
                    <ion-segment-button layout="icon-top">
                        <ion-icon name="chatboxes"></ion-icon>
                        <ion-label>20</ion-label>
                    </ion-segment-button>
                </ion-segment>

            </div>
        </ion-card>


        <ion-card>
            <div class="user-img-box">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRJt-FDG7pdCqtru8m8nmsgF9Z-F_LfP49cDFloa8FyTityAhNK" />
            </div>
            <div class="user-name">
                <ion-card-header>
                    <ion-card-title class="ion-text-center">Anshu Verma</ion-card-title>
                </ion-card-header>
                <ion-button expand="block" (click)="addcircle()">Add in Circle</ion-button>
                <ion-segment>
                    <ion-segment-button checked layout="icon-top">
                        <ion-icon name="call"></ion-icon>
                        <ion-label>20</ion-label>
                    </ion-segment-button>
                    <ion-segment-button layout="icon-top">
                        <ion-icon name="heart"></ion-icon>
                        <ion-label>30</ion-label>
                    </ion-segment-button>
                    <ion-segment-button layout="icon-top">
                        <ion-icon name="chatboxes"></ion-icon>
                        <ion-label>20</ion-label>
                    </ion-segment-button>
                </ion-segment>

            </div>
        </ion-card>

    </div>

    <ion-card class="welcome-card" *ngIf="pay">
        <ion-button expand="full" class="ion-padding" color="tertiary" (click)="back()">
            Back
            <ion-icon slot="start" name="arrow-round-back"></ion-icon>
        </ion-button>
        <ion-card-header class="ion-margin-top">
            <ion-card-title class="ion-text-center">Anshu Verma</ion-card-title>
            <ion-card-subtitle class="ion-text-center">10 RS</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            <ion-item>
                <ion-textarea placeholder="Enter more information here..."></ion-textarea>
            </ion-item>
            <ion-button expand="full" class="ion-margin-top">Pay now</ion-button>
        </ion-card-content>
    </ion-card>

</ion-content>