<ion-header>
    <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-toolbar>
        <ion-title>Message</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <div>
        <ion-card>
            <div class="user-img-box">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRJt-FDG7pdCqtru8m8nmsgF9Z-F_LfP49cDFloa8FyTityAhNK" />
            </div>
            <div class="user-name">
                <ion-card-header>
                    <ion-card-title class="ion-text-left">Anshu Verma</ion-card-title>
                </ion-card-header>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting</p>
                <h5>1</h5>
            </div>
        </ion-card>
        <ion-card>
            <div class="user-img-box">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRJt-FDG7pdCqtru8m8nmsgF9Z-F_LfP49cDFloa8FyTityAhNK" />
                <h6></h6>
            </div>
            <div class="user-name">
                <ion-card-header>
                    <ion-card-title class="ion-text-left">Anshu Verma</ion-card-title>
                </ion-card-header>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting</p>

            </div>
        </ion-card>
        <ion-card>
            <div class="user-img-box">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRJt-FDG7pdCqtru8m8nmsgF9Z-F_LfP49cDFloa8FyTityAhNK" />
            </div>
            <div class="user-name">
                <ion-card-header>
                    <ion-card-title class="ion-text-left">Anshu Verma <span>30 Jun</span></ion-card-title>
                </ion-card-header>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting</p>
            </div>
        </ion-card>
        <ion-card>
            <div class="user-img-box">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRJt-FDG7pdCqtru8m8nmsgF9Z-F_LfP49cDFloa8FyTityAhNK" />
            </div>
            <div class="user-name">
                <ion-card-header>
                    <ion-card-title class="ion-text-left">Anshu Verma <span>30 Jun</span></ion-card-title>
                </ion-card-header>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting</p>
            </div>
        </ion-card>
        <ion-card>
            <div class="user-img-box">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRJt-FDG7pdCqtru8m8nmsgF9Z-F_LfP49cDFloa8FyTityAhNK" />
            </div>
            <div class="user-name">
                <ion-card-header>
                    <ion-card-title class="ion-text-left">Anshu Verma <span>30 Jun</span></ion-card-title>
                </ion-card-header>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting</p>
            </div>
        </ion-card>




    </div>


</ion-content>