<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>my-circle</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ion-padding">
    <div class="total-balance three">
      <p>How It's Work</p>
      <iframe width="100%" height="100%" src="https://www.youtube.com/embed/2qA3XWEECnQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="total-balance three">
    <p>How It's Work</p>
    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/2qA3XWEECnQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div class="total-balance three">
  <p>How It's Work</p>
  <iframe width="100%" height="100%" src="https://www.youtube.com/embed/2qA3XWEECnQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
    <div>
     <ion-button color="success ion-float-right shareuser">
       Share
       <ion-icon slot="end" name="share"></ion-icon>
     </ion-button>
    </div>
  
   <div><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRJt-FDG7pdCqtru8m8nmsgF9Z-F_LfP49cDFloa8FyTityAhNK" /></div>
 

   <ion-card-header>
     <ion-card-title class="ion-text-center">anshu verma</ion-card-title>
   </ion-card-header>
   <ion-card-content>
     
       <ion-button expand="full" class="ion-text-center" color="primary">Parent</ion-button>
     
    
       
    
     <div class="parentdiv">
       <div class="left-div">
         <ion-button expand="full" class="ion-text-center" color="warning">Child Added</ion-button>
       </div>
      
     </div>
     <p class="ion-float-right date">20-10-2020</p>
   </ion-card-content>
 </ion-card>

 <ion-card class="ion-padding">
   
  <div>
   <ion-button color="success ion-float-right shareuser">
     Share
     <ion-icon slot="end" name="share"></ion-icon>
   </ion-button>
  </div>

 <div><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRJt-FDG7pdCqtru8m8nmsgF9Z-F_LfP49cDFloa8FyTityAhNK" /></div>


 <ion-card-header>
   <ion-card-title class="ion-text-center">anshu verma</ion-card-title>
 </ion-card-header>
 <ion-card-content>
   
     <ion-button expand="full" class="ion-text-center" color="primary">Parent</ion-button>
   
  
     
  
   <div class="parentdiv">
     <div class="left-div">
       <ion-button expand="full" class="ion-text-center" color="warning">Child Added</ion-button>
     </div>
    
   </div>
   <p class="ion-float-right date">20-10-2020</p>
 </ion-card-content>
</ion-card>


<ion-card class="ion-padding">
   
  <div>
   <ion-button color="success ion-float-right shareuser">
     Share
     <ion-icon slot="end" name="share"></ion-icon>
   </ion-button>
  </div>

 <div><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRJt-FDG7pdCqtru8m8nmsgF9Z-F_LfP49cDFloa8FyTityAhNK" /></div>


 <ion-card-header>
   <ion-card-title class="ion-text-center">anshu verma</ion-card-title>
 </ion-card-header>
 <ion-card-content>
   
     <ion-button expand="full" class="ion-text-center" color="primary">Parent</ion-button>
   
  
     
  
   <div class="parentdiv">
     <div class="left-div">
       <ion-button expand="full" class="ion-text-center" color="warning">Child Added</ion-button>
     </div>
    
   </div>
   <p class="ion-float-right date">20-10-2020</p>
 </ion-card-content>
</ion-card>

<ion-card class="ion-padding">
   
  <div>
   <ion-button color="success ion-float-right shareuser">
     Share
     <ion-icon slot="end" name="share"></ion-icon>
   </ion-button>
  </div>

 <div><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRJt-FDG7pdCqtru8m8nmsgF9Z-F_LfP49cDFloa8FyTityAhNK" /></div>


 <ion-card-header>
   <ion-card-title class="ion-text-center">anshu verma</ion-card-title>
 </ion-card-header>
 <ion-card-content>
   
     <ion-button expand="full" class="ion-text-center" color="primary">Parent</ion-button>
   
  
     
  
   <div class="parentdiv">
     <div class="left-div">
       <ion-button expand="full" class="ion-text-center" color="warning">Child Added</ion-button>
     </div>
    
   </div>
   <p class="ion-float-right date">20-10-2020</p>
 </ion-card-content>
</ion-card>
</ion-content>
